{{#each erros}} <!-- estrutura própria do handlebars, quando der erro na autenticação exibe a msg de erro -->
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Editar Categoria:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/edit" method="POST">
            <input type="hidden" name="id" value="{{categorias._id}}"> <!--Passando o id escondido na edição -->
            <label for="nome">Nome: </label>
                <input type="text" id="nome" class="form-control" name="nome" placeholder="Nome da categoria" value="{{categorias.nome}}">

            <label for="slug">Slug: </label>
                <input type="text" id="slug" class="form-control" name="slug" placeholder="Slug da categoria" value="{{categorias.slug}}">
            <br>
            <button type="submit" class="btn btn-success">Editar categoria</button>
        </form>
    </div>
</div>